header {
    position: relative;
    text-align: center;
}

.logo {
    position: absolute;
    top: 5vh;
    left: 5vh;
    height: 4%;
}

.main-image {
    height: 65vh;
    width: 100%;
    object-fit: cover;
}

.header-content {
    position: absolute;
    top: 20vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    margin-bottom: 20px; 
    font-family: "Anton", sans-serif;
    font-size: 44px;
    color: #FFD15B;
    margin-left: 10vw;
    margin-right: 10vw;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 70%;
    max-width: 700px;
}

.search-input {
    width: 95%;
    padding: 15px 20px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #7A7A7A;

}

.search-button {
    background-color: black;
    border: none;
    height: 50px;
    width: 50px;
    margin-right: 0.5%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #FFD15B; 
}

.search-icon {
    width: 20px;
    height: 20px;
    stroke: white;
    transition: stroke 0.3s ease;
}

.search-button:hover .search-icon {
    stroke: black; 
}

main {
    background-color: #EDEDED;
        padding: 0 50px;
}

.item-filter {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 500;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    width: 150px;
}

.item-filter::-webkit-scrollbar {
    display: none;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.recipe-count {
    font-family: "Anton", sans-serif;
    font-size: 21px;
    font-weight: 400;
}


.recipe-card h2 {
    font-family: "Anton", sans-serif;
    height: 40px;
}

.recipe-time {
    background-color: #FFD15B;
}

.text-custom-gray {
    color: #7A7A7A;
}

.recipe-content {
    font-family: "Manrope", sans-serif;
}

.recipe-description {
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 80px;
}

.ingredient-item {
    font-size: 14px;
}

.ingredient-item__name {
    font-weight: 500;
}

.ingredient-item__quantity {
    color: #7A7A7A;
    font-weight: 400;
}

.recipe-subtitle {
    letter-spacing: 0.09em;
}

.tag-label {
    background: #FFD15B;
    height: 56px;
    min-width: 190px;
    display: flex;
    justify-content: space-between;
}

.remove-tag {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 7px;
}

/* CSS pour le dropdown personnalisé */
.dropdown {
    position: relative;
    display: inline-block;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 500;  
}

.dropdown-toggle {
    background-color: #fff;
    cursor: pointer;
    width: 195px;
    height: 56px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
    padding: 15px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    width: 195px;
    max-height: 200px; 
    overflow-y: auto; 
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}

.dropdown-filter-container {
    width: 88%;
    margin: auto;
}

.dropdown-search-icon {
    width: 15px;
    height: 15px;
}

.dropdown-remove-input {
    font-size: 24px;
}

.dropdown-item {
    padding: 15px;
    cursor: pointer;
    font-size: 14px;
}

.dropdown-item:hover {
    background-color: #FFD15B;
}

.dropdown.open .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
}

.hidden {
    display: none;
}

